*{
    font-family: cambria;
}
body{
    background-color: blue;
}
div{
    display:flex;
    justify-content: center;
    
}
.form-container{
    background-color: white;
    width:500px;
    height:590px;
}
#heading{
    margin-top:0;
    text-align: center;
    background-color:rgba(0, 0, 0, 0.863) ;
    color:white;
    height:50px;
}
label{
    font-size: 20px;
    margin-left: 30px;
}
input{ 
    padding:10px;
   display: block;
   
   width:80%;
   /* margin-left:2rem; */
   margin:20px 0 20px 2rem;
}
#submitButton{
    margin-top:30px;
    width:85%;
    height:8%;
    color:white;
    font-size: 20px;
    background-color: blue;
}